<section data-ng-controller="TreesController" data-ng-init="find()">
<div class="container">
<a href="/#!/trees/create">Create Tree</a>
    <h1>Trees</h1>
        <ol>
        <li data-ng-repeat="tree in trees">
            <a data-ng-href="#!/trees/{{tree._id}}" data-ng-bind="tree.title"></a>
            <br></br>
            <small data-ng-bind="tree.created | date:'medium'"></small> <small>/</small>
            <small data-ng-bind="tree.creator.fullName"></small>
            <p data-ng-bind="tree.content"></p>
        </li>
    </ol>
<!--     <div data-ng-hide="!trees || trees.length">
       No trees yet, why don't you <a href="/#!/trees/create">create one</a>?
    </div> -->
    </div>
</section>