<section data-ng-controller="TreesController" data-ng-init="findOne()">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/">Home</a>
                    </li>
                    <li ng-show="loggedIn"><a href="#!/trees">Trees</a>
                    </li>
                    <li ng-show="loggedIn"><a href="#!/" ng-click="signout()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 data-ng-bind="tree.title"></h1>
                    <a href="/#!/trees/{{tree._id}}/edit">edit</a>
                    <a href="#" data-ng-click="delete();">delete</a></br>
                    <small>
                        <em>Posted on</em>
                        <em data-ng-bind="tree.created | date:'mediumDate'"></em> <em>by</em>
                        <em data-ng-bind="tree.creator.fullName"></em>
                    </small>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="buttons">
                    <h3>Highlighter</h3>
                    <p>Make a selection in the document and use the buttons below to highlight and unhighlight.</p>
                    <input type="button" style="background-color:red;" ontouchstart="highlightOrganization();" onclick="highlightOrganization();" value="Organization">
                    <input type="button" style="background-color:blue;" ontouchstart="highlightPerson();" onclick="highlightPerson();" value="Person">
                    <input type="button" style="background-color:yellow;" ontouchstart="highlightLocation();" onclick="highlightLocation();" value="Location">
                    <input type="button" ontouchstart="removeHighlightFromSelectedText();" onclick="removeHighlightFromSelectedText();" value="Remove Annotation">
                    <input type="button" ng-click="annotate();" value="Send">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p id="content" ng-bind="tree.content"></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="buttons">
                <button onclick="clickBackward()" style="width:55px;height:48px" type="button"><img src="../../img/backward.png" width="40" height="40"/></button>
                <button onclick="clickPrevious()" style="width:55px;height:48px" type="button"><img src="../../img/previous.png" width="40" height="40"/></button>
                <button onclick="clickNext()"     style="width:55px;height:48px" type="button"><img src="../../img/next.png"     width="40" height="40"/></button>
                <button onclick="clickForward()"  style="width:55px;height:48px" type="button"><img src="../../img/forward.png" width="40" height="40"/></button>
            </div>
        </div>
        <div id="css_deptree_canvas">
            <canvas id="cv_deptree" height="500"></canvas>
        </div>
        <br>
        <div id="css_input" align="right">
            <table>
                <tr>
                    <td style="vertical-align:top;">
                        <button type="button" onclick="exportCanvas()" style="width:110px;height:30px;font-family:times;font-size:14px;">Export</button><br><br>
                        <select id="st_treeId" multiple="multiple" style="width:110px;height:497px;" onchange="selectTreeID();"></select>
                    </td>
                    <td style="vertical-align:top;text-align:center;">
                        <h4>Control Panel</h4>
                        1 &#8672; Zoom &#8674; 4<br>
                        <input id="rg_deptree" type="range" width="100" min="1" max="4" step="0.2" value="1" onchange="selectTreeID()" oninput="changeZoom(this.value)"><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</section>