<section data-ng-controller="TreesController" data-ng-init="findOne()">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/">Home</a>
                    </li>
                    <li ng-show="loggedIn"><a href="#!/trees">Trees</a>
                    </li>
                    <li ng-show="loggedIn"><a href="#!/" ng-click="signout()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 data-ng-bind="tree.title"></h1>
                    <small>
                        <em>Posted on</em>
                        <em data-ng-bind="tree.created | date:'mediumDate'"></em> <em>by</em>
                        <em data-ng-bind="tree.creator.fullName"></em>
                    </small><br><br>
                    <div class="col-md-12">
                        <a data-target="#edit" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-pencil-square-o fa-fw"></i><span class="network-name"> Edit</span></a>   
                        <a onclick="exportCanvas()" class="btn btn-default btn-lg"><i class="fa fa-floppy-o fa-fw"></i><span class="network-name"> Export</span></a>
                        <a href="#" data-ng-click="delete();" class="btn btn-default btn-lg"><i class="fa fa-trash-o fa-fw"></i><span class="network-name"> Delete</span></a>
                        <a onclick="clickBackward()" class="btn btn-default btn-lg"><i class="fa fa-step-backward fa-fw"></i></a>
                        <a onclick="clickPrevious()" class="btn btn-default btn-lg"><i class="fa fa-backward fa-fw"></i></a>
                        <a onclick="clickNext()" class="btn btn-default btn-lg"><i class="fa fa-forward fa-fw"></i></a>
                        <a onclick="clickForward()" class="btn btn-default btn-lg"><i class="fa fa-step-forward fa-fw"></i></a>
                        <a data-target="#help" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-question-circle fa-fw"></i></a>
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <table>
                        <td style="vertical-align:top;text-align:center;">
                            <input id="rg_deptree" type="range" width="100" min="1" max="4" step="0.2" value="1" onchange="selectTreeID()" oninput="changeZoom(this.value)"><br>
                        </td>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="buttons">
                    <h3>Highlighter</h3>
                    <p>Make a selection in the document and use the buttons below to highlight and unhighlight.</p>
                    <input type="button" style="background-color:red;" ontouchstart="highlightOrganization();" onclick="highlightOrganization();" value="Organization">
                    <input type="button" style="background-color:green;" ontouchstart="highlightPerson();" onclick="highlightPerson();" value="Person">
                    <input type="button" style="background-color:yellow;" ontouchstart="highlightLocation();" onclick="highlightLocation();" value="Location">
                    <input type="button" ontouchstart="removeHighlightFromSelectedText();" onclick="removeHighlightFromSelectedText();" value="Remove Annotation">
                    <input type="button" ng-click="annotateNer();" value="Send">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div annotation-display tree="{{tree}}" createHighlights="annotationFactory.createAnnotationHtml(tree)" id="annotation"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> 
                    <div id="css_deptree_canvas">
                        <canvas id="cv_deptree" height="500"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"> 
                    Sentence index: <select id="st_treeId" onchange="selectTreeID();"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-question-circle fa-fw"></i>Help</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-trash-o fa-fw"></i>: Deletes Tree<br><br>
                    <i class="fa fa-floppy-o fa-fw"></i>: Export diagram as picture<br><br>
                    <i class="fa fa-step-backward fa-fw"></i>: Jumps to first sentence<br><br>
                    <i class="fa fa-backward fa-fw"></i>: Jumps to previous sentence<br><br>
                    <i class="fa fa-forward fa-fw"></i>: Jumps to next sentence<br><br>
                    <i class="fa fa-step-forward fa-fw"></i>: Jumps to last sentence<br><br>
                    <table>
                        <td style="vertical-align:top;text-align:center;">
                            <input id="rg_deptree" type="range" width="100" min="1" max="4" step="0.2" value="1" onchange="selectTreeID()" oninput="changeZoom(this.value)">
                        </td>
                        <td style="vertical-align:top;text-align:center;">: Zoom Bar: Enlarge diagram to desired size<br><br>
                        </td>
                    </table>
                    Zoom Bar: Enlarge diagram to desired size<br><br>
                    Temporary annotations can be made by highlighting words/phrases in sentence
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-pencil-square-o fa-fw"></i> Edit Tree</h4>
                </div>
                <div class="modal-body">
                    <form data-ng-submit="update()" novalidate>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <div>
                                <input type="text" ng-model="tree.title" class="form-control" id="title">
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <div>
                                <textarea ng-model="tree.content" class="form-control" id="content" cols="30" rows="10"></textarea>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Apply Update</button>
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                        <div data-ng-show="error">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
