#css_deptree_canvas
{
    width: 98%;
    height: 500px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #BDBDBD;
    background-color: white;
}

#css_input
{
    width: 98%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid 0px black;
    background-color: white;
}

#bottons
{
    position: absolute;
    right:    0;
    bottom:   0;
}

.row
{  
      position: relative;
}