<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org"> <head>
  <title><%= title %></title>
</head>
<body>
  <section ng-view></section>
  <script type="text/javascript">
    window.user = <%- user || 'null' %>;
</script>

<script type="text/javascript" src="../../js/clearnlp_demo.js"></script>
<link href="../../css/clearnlp_demo.css" rel="stylesheet" media="screen"/>

<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>

<script type="text/javascript" src="/trees/trees.client.module.js"></script>
<script type="text/javascript" src="/trees/controllers/trees.client.controller.js"></script>
<script type="text/javascript" src="/trees/services/trees.client.service.js"></script>
<script type="text/javascript" src="/trees/config/trees.client.routes.js"></script>

<script type="text/javascript" src="/example/example.client.module.js"></script>
<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

<script type="text/javascript" src="/users/users.client.module.js"></script>
<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

<script type="text/javascript" src="/application.js"></script> </body>
</html>