<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app>

<head>
  <script src="../../public/js/jquery-1.10.2.js"></script>
  <script src="../../public/js/bootstrap.js"></script>
  <script src="../../public/js/bootstrap-min.js"></script>
  <script src="/node_modules/angular/angular.js"></script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ClearViz</title>

  <!-- Bootstrap core CSS -->
  <link href="../../public/css/bootstrap.css" rel="stylesheet">

  <!-- Custom Google Web Font -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <!-- Add custom CSS here -->
  <link href="../../public/css/landing-page.css" rel="stylesheet">
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ClearViz</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a>
          </li>
          <li><a href="#services">Services</a>
          </li>
          <li><a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <div class="intro-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>ClearViz: Visualizations for ClearNLP</h1>
            <h3>Text Analytics for Everyone</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li><a data-target="#signin" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i><span class="network-name">Sign In</span></a></li>
              <li><a data-target="#signup" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-flash fa-fw"></i><span class="network-name">Sign Up</span></a></li>

            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Natural Language Processing: <i> Reimagined</i></h2>
          <p class="lead">ClearViz simplifies the concept of natural language processing by providing an easy to use and modern interface. In addition to being presented in a simplistic interface, ClearViz offers quality performance and features all for <i>free</i>. </p>
          <!-- <p><a href="pricing.html">View Pricing Options > </a></p> -->

        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <img src="../../public/img/screen.png" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-  col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">High Performance &amp Features</h2>
          <p class="lead">ClearViz offers many features all at the click of a button. From tokenization and segmentation to dependency parsing and part-of-speech tagging, ClearViz is a powerful resource that can meet all your needs fast and efficiently. Create a personalized account to experience a <i>clear</i> and reenvisioned way to analyze text.</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="../../public/img/speed.png" alt="">
        </div>
      </div>

    </div>
    <!-- /.container -->



  </div>
  <!-- /.content-section-a -->

<div class="intro-header">


  <div class="container">

    <div class="row">
      <div class="col-lg-8">
        <h2>Get started with ClearViz today!</h2>
      </div>
    </div>


  </div>
  <!-- /.container -->

</div>

<!-- /.banner -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><a href="#home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Your Company 2015. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>


<!-- JavaScript -->
<script src="../../public/js/jquery-1.10.2.js"></script>
<script src="../../public/js/bootstrap.js"></script>


<!-- sign in modal -->

<div class = "modal fade" id = "signin" role = "dialog">
  <div class ="modal-dialog">
    <div class ="modal-content">
      <div class = "modal-header">
        <h3> Sign in </h3>
      </div>
      <div class = "modal-body">
        <form method="post" action='' name="login_form">
          <input type="text" id="email" placeholder="Email"><br></br>
          <input type="password" name="password" placeholder="Password">

        </p>
      </form>
    </div>
    <div class = "modal-footer">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</div>
</div>

<!-- end sign in modal -->


<!-- sign up modal -->

<div class = "modal fade" id = "signup" role = "dialog">
  <div class ="modal-dialog">
    <div class ="modal-content">
      <div class = "modal-header">
        <h3> Create an Account </h3>
      </div>
      <div class = "modal-body">
        <form method="post" action='' name="login_form">
          <input type="text" id="fname" placeholder="First Name"><br></br>
          <input type="text" id="lname" placeholder="Last Name"><br></br>
          <input type="text" id="email" placeholder="Email"><br></br>
          <input type="password" name="password" placeholder="Password">
          <!--  <br>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              Pick a Price Plan
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Free ($0/mo)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Silver ($10/mo)</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gold ($20/mo)</a></li>
            </ul>
          </div> -->
        </p>
      </form>
    </div>
    <div class = "modal-footer">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </div>
</div>
</div>

<!-- end sign up modal -->

</body>

</html>





